.body {
    font-family: Arial, sans-serif; 
   margin: 0; 
   padding: 0; 
   background-color: #f8f8f8; 
} 
.header { 
   background-color: #4caf50; 
   color: white; 
   padding: 20px; 
   text-align: center; 
} 
.main { 
   padding: 20px; 
   margin: 20px; 
   background-color: white; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 
.aside { 
   padding: 20px; 
   margin: 20px; 
   background-color: white; 
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
} 
a { 
   color: #4caf50; 
   text-decoration: none; 
   } 
a:hover { 
       color: #3e8e41; 
} 
.footer {
   display: flex;
   justify-content: center;
   background-color: #4caf50; 
   color: white; 
   padding: 10px; 
   align-items: center;
   
}
.p {
   font-family: Arial, sans-serif;
   color: black;
   
}
.footer .social {
   text-align: center; 
   width: 50px;
   fill: black;
   margin: 30px;
 }
